#container
{
width: 100%;
background: #fff;
}
#header
{
background: #fff;
padding: 20px;
}
#header h1 { margin: 0; }
#navigation
{
float: left;
width: 100%;
background: #333;
}
#navigation ul
{
margin: 0;
padding: 0;
}
#navigation ul li
{
list-style-type: none;
display: inline;
}
#navigation li a
{
display: block;
float: left;
padding: 10px 20px;
color: #fff;
text-decoration: none;
border-right: 1px solid #fff;
}
#navigation li a:hover { background: #FF9900; }

#content-container
{
float: left;
width: 100%;
height: 500px;
background: #FFF url(layout-two-
liquid-background.gif) repeat-y 68% 0;
}
#content
{
clear: left;
float: left;
width: 60%;
padding: 20px 0;
margin: 0 0 0 4%;
display: inline;
}
#content h2 { margin: 0; }
#aside
{
float: right;
width: 26%;
padding: 20px 0;
margin: 0 3% 0 0;
display: inline;
}
#aside h3 { margin: 0; }
#footer
{
clear: left;
background: #333;
text-align: right;
padding: 20px;
height: 2%;
color: #fff;
}